<ion-view>
	<ion-header-bar>
		<div class="menu-ba">
		  <header class="menu"><span class="menu-return" ng-click="back()"></span >{{agreementTitle[currentType]}}</header>
		</div>
	</ion-header-bar>
	<ion-content  class="has-header" has-bouncing="true" >
		<!--远程开办个人结算账户客户服务协议-->
		<div class="agreement_wrap" ng-if="showAgreement(1)">
			<div class="agr_content">
				<div class="agr_title">
					<h2>微众银行<span class="describe">个人电子账户服务协议</span></h2>
				</div>
				<div class="agr_con_area">
					<p>客户：简称“您”或“本人”；</p>
					<p>深圳前海微众银行股份有限公司：简称“微众银行”。</p>
					<p>客户自愿申请开立微众银行个人电子账户，为明确双方的权利和义务，维护双方的合法权益，特签订本服务协议。</p>
					<h3>第一条 开户申请</h3>
					<p>1.客户通过微众银行客户服务渠道（包括但不限于电子渠道）自助申请开户，经微众银行核准后为客户开立个人电子账户。</p>
					<p>2.微众银行根据客户的账户申请渠道、身份核验方式及风险等级等，对电子账户进行分类和动态管理，确定不同的账户功能、业务范围及交易限额。</p>
					<p>3.客户开通个人电子账户后，可以通过微众银行APP办理存款、理财等业务，在微众银行电子账户和已绑定的其他银行同名账户之间进行转账，以及办理其他法律法规及监管规定允许并经微众银行开通的业务。</p>
					<p><strong>4.客户申请开立个人电子账户时所设定的绑定账户、绑定手机号码、电子邮箱，必须是客户本人合法获得且真实有效的，并处于客户有效掌控下。因客户遗失绑定账户、变更绑定手机号码，或将绑定账户、绑定手机号码、电子邮箱转借、转租他人使用，或因客户原因造成的资料及交易信息等泄露所产生的风险及损失，由客户自行承担。</strong></p>
					<p><strong>5.客户办理转账、产品交易等业务须使用交易密码，凭交易密码对个人电子账户进行的操作均视为客户本人所为。</strong></p>
					<p><strong>客户应妥善保管银行账号、交易密码等个人资料，不得将账户转借、转租他人使用。因客户将账户转借、转租他人使用或泄露资料所产生的风险及全部损失，由客户自行承担。</strong></p>
					<h3>第二条 业务须知</h3>
					<p><strong>1.开户</strong></p>
					<p>1.1开户：客户提供开户所必须的身份信息及身份验证资料，设置账户交易密码，通过实名制信息验证后，开立个人电子账户。</p>
					<p>1.2绑定个人银行结算账户</p>
					<p>1.2.1绑定账户：客户目前须设置绑定个人银行结算账户，才能将电子账户内的资金转出。绑定账户应是客户本人以实名制开立且真实持有的有效银行账户。</p>
					<p>1.2.2绑定方式：客户设置绑定账户后，微众银行将通过合法安全的渠道对客户绑定账户的信息进行验证（包括但不限于打款验证或客户身份基本信息交叉验证等方式），经验证通过后账户绑定成功。</p>
					<p>1.2.3解除绑定：客户可登录微众银行的客户服务渠道（包括但不限于电子渠道），按照操作指引完成验证后，解除绑定关系。</p>
					<p>若客户取消绑定后，还需再次重新绑定，可以按本协议第二条第1.2.2款约定的方式重新绑定。</p>
					<p><strong>2.绑定手机号码</strong></p>
					<p>是指客户在申请开立个人电子账户时设定的，包括但不限于接收由微众银行发送的各种动态码、交易提醒短信等信息，必要时微众银行客服人员可通过此手机号码向客户核实身份信息和交易信息。每个个人电子账户，仅有一个绑定手机号码。</p>
					<p><strong>3.销户</strong></p>
					<p>客户办理个人电子账户销户，应按提示流程操作，销户后个人电子账户内资金本息将自动转回至绑定账户或客户指定的他行同名账户（请销户前确保转出账户为有效账户，否则资金将无法正常到账，微众银行对此不承担责任）。</p>
					<p><strong>4.变更密码</strong></p>
					<p>客户需登录电子账户修改账户交易密码；若客户遗忘账户交易密码，客户需登录电子账户提交交易密码重置申请，按提示流程操作，通过提示的身份认证手段后即可在线重置交易密码。</p>
					<p><strong>5.变更绑定手机号码</strong></p>
					<p>客户需变更绑定手机号码时，需由客户登录电子账户提交申请，按提示流程操作，通过提示的身份认证手段后完成绑定手机号码变更。</p>
					<p><strong>6.客户同意微众银行可应环境安全等级及所办理业务的情况，针对不同客户采取不同的信息采集及身份验证步骤。</strong></p>
					<h3>第三条 双方的权利及义务</h3>
					<p>1.个人电子账户持有人必须是具有完全民事行为能力的自然人，客户自愿申请开立个人电子账户，并承诺申请个人电子账户时具有完全民事行为能力。</p>
					<p>2.客户自愿申请开立个人电子账户，同意遵守国家有关金融法律法规、政策及微众银行的有关业务规章制度。客户应按微众银行的有关规定支付各种结算和服务费用。</p>
					<p><strong>3.客户保证向微众银行提供的开户证件符合《个人存款账户实名制规定》的要求，客户保证向微众银行提供的所有申请资料准确、真实、有效、合法，并保证由客户本人办理，不得由他人代办。如客户提供的资料不符合要求或存在代办、冒充他人申请等情形，微众银行有权拒绝客户申请，对于已经开立了个人电子账户的，微众银行有权提前单方终止本协议。客户开户资料发生变更时，应按本协议及时办理变更手续。</strong></p>
					<p><strong>4.客户应妥善保管个人电子账户的交易密码、动态密码、个人有效身份证件、绑定账户、绑定手机号码及手机设备等，如因本人原因造成上述信息或设备出现遗失、泄露或被他人盗用的情况，已发生的损失由客户自行承担。</strong></p>
					<p><strong>5.客户应按规定进行操作，客户未按规定使用支付电子工具、违规使用个人电子账户或者未支付结算或服务费用的，微众银行有权停用直至撤销个人电子账户。</strong></p>
					<p><strong>6.因不可抗力或供电、通讯、网络等非微众银行原因导致个人电子账户不能正常使用的，微众银行将视情况协助客户解决或提供必要的帮助，但不承担责任。对于在交易过程中，因暂时的网络通讯故障或其他原因造成的错账现象，微众银行有权根据实际交易情况进行账务处理。</strong></p>
					<p>7.客户不得出租、出借个人银行电子账户，不得利用个人电子账户套取银行信用。</p>
					<p>8.客户不得利用个人电子账户进行偷逃税款、逃废债务、套取现金、洗钱及其他违法犯罪活动。如客户存在洗钱、出卖银行账户等违法行为时，微众银行有权限制或终止服务。</p>
					<p>9.微众银行应依法保障客户的资金安全，并依法为客户的个人电子账户信息保密，除法律法规另有规定外，有权拒绝任何单位或个人对客户个人电子账户进行查询、冻结、扣划。</p>
					<p>10.微众银行应及时、准确地办理客户资金业务，按规定为客户提供账务查询、更改交易密码及更改手机号码等服务。</p>
					<p>11.在本协议履行过程中，客户向微众银行提供的微众银行不能从公共渠道取得的客户信息，均构成客户的保密信息，微众银行除非为履行本协议之目的，不得向任何第三方披露或许可使用该保密信息，微众银行根据法律法规及相关规定有义务进行披露的情形及双方在本协议中另有约定的除外。</p>
					<p><strong>12.客户授权微众银行，除法律法规另有规定之外，将客户提供给微众银行的信息、享受微众银行服务产生的信息（包括本授权条款签署之前提供和产生的信息）等，用于微众银行及其因服务必要而开展合作或委托的合作伙伴，为客户提供服务、推荐产品、开展市场调查与信息数据分析等。微众银行承诺自行并要求合作伙伴对上述信息严格保密，采取措施保护信息安全。</strong></p>
					<h3>第四条 其他约定</h3>
					<p>1.客户授权微众银行在发生以下情形时，微众银行有权对该个人电子账户采取限制措施，包括但不限于止付、止收、将账户状态改为未激活、解除绑定账户直至强制销户，相关责任及由此产生的损失均由客户承担：</p>
					<p>①微众银行有证据证明该个人电子账户非客户本人开立的；</p>
					<p>②客户否认个人电子账户由本人开立；</p>
					<p>③绑定账户非客户本人账户；</p>
					<p>④客户未按规定使用支付电子工具、违规使用个人电子账户或者未支付电子或服务费用的，微众银行有权停用直至撤销其个人电子账户。</p>
					<p>⑤其他微众银行认为可能对账户安全性产生影响的情形。</p>
					<p>2.本协议在履行期间发生的任何争议双方可以协商解决。协商不成的，均可向微众银行所在地有管辖权的人民法院提起诉讼。</p>
					<p>3.本协议由微众银行负责制订、解释和修改，自页面显示开户完成且生成电子银行账号之日起生效，自销户之日起终止。</p>
					<p><strong>客户对上述情况有疑义的，可通过微众银行客户服务渠道提出复议要求。客户已理解并确认本协议中有关免除、限制微众银行责任的条款，客户同意微众银行有权根据国家法律法规及业务需要对本协议内容及电子账户使用规则进行调整，并同意该项调整将在微众银行正式渠道公告后按公告内容执行，无需另行通知客户。如客户在公告施行后继续使用电子账户，视为客户接受上述变更，双方无须另行签订书面协议；如客户不愿接受微众银行公告内容的，应公告后及时申请终止相关服务。</strong></p>
					<p><strong>客户确认：本人已认真阅读本协议，在完全理解本协议的情况下，同意本协议的全部内容。</strong></p>
				</div>
			</div>
		</div>

		<!--委托扣款协议书-->
		<div class="agreement_wrap" ng-if="showAgreement(2)">
			<div class="agr_content">
				<div class="agr_title">
					<h2>委托扣款协议书</h2>
				</div>
				<div class="agr_con_area">
					<p>客户：简称“您”或“本人”；</p>
					<p>深圳前海微众银行股份有限公司：简称“本行”或“微众银行”。</p>
					<p>您通过互联网（Internet）点击确认或以其他方式选择接受本协议，即表示您同意接受本协议的全部约定内容，确认承担由此产生的一切责任。</p>
					<p>一、您保证提供给本行的银行卡资料（包括：卡号、姓名、证件号码、手机号码等）为您本人持有的真实、完整、准确、合法、有效的银行卡信息，并同意本行将以上信息送至发卡银行进行核验。</p>
					<p>二、您同意并授权本行根据您所购买货币基金、理财等产品的金额，通过中国银联、深圳结算中心等支付清算机构以及发卡银行，从您提供的银行卡中扣款。您承诺前述委托扣款视同您本人作出，不得向中国银联、深圳结算中心等支付清算机构以及发卡银行提出异议。</p>
					<p>三、因您提供他人银行卡资料或虚假信息、您提供的银行卡账户余额不足或被挂失、冻结、销户等原因而引起的一切法律责任，由您自行承担，与本行无关。</p>
					<p>四、因支付清算机构或发卡银行原因导致扣款错误或延迟，给您造成损失的，由过错方承担责任，本行将协助您向其追究相应责任。</p>
					<p><strong>客户确认：本人已认真阅读本协议，在完全理解本协议的情况下，同意本协议的全部内容。</strong></p>


				</div>
			</div>
		</div>
		<!--《众当家服务协议》-->
		<div class="agreement_wrap" ng-if="showAgreement(3)">
			<div class="agr_content">
				<div class="agr_title">
					<h2>微众银行服务协议</h2>
				</div>
				<div class="agr_con_area">
					<p>重要提示： </p>
					<p>深圳前海微众银行股份有限公司（以下简称“微众银行”或“我们”）依据本《微众银行服务协议》（以下简称“本协议“）的规定为用户（以下有时也称“您“）提供服务，本协议在用户和微众银行间具有合同上的法律效力。微众银行在此特别提醒用户认真阅读、充分理解本协议各条款，特别是其中所涉及的免除、减轻微众银行责任的条款、对用户权利限制条款、争议解决和法律适用等。其中，限制、免责条款可能以黑体加粗或加下划线的形式提示您重点注意。请用户审慎阅读并选择接受或不接受本协议（未成年人应在监护人陪同下阅读）。除非用户接受本协议所有条款，否则用户无权使用微众银行于本协议下所提供的服务。用户一经注册或使用微众银行服务即视为对本协议所有条款的理解和接受。</p>
					<h3>一、关于微众银行服务协议的确认和接纳</h3>
					<p>（一）微众银行服务，是指由微众银行通过“微众银行”客户端与有关金融机构的系统对接，为投资者提供的服务，包括通过微众银行系统与金融机构系统的整合，协助您在金融机构完成相关金融产品的开户、在线交易、信息查询等服务。（以下简称“微众银行服务”）。  </p>
					<p><h3>（二）微众银行有权在必要时单方修改或变更本协议的内容，请您随时关注本协议的任何更新，若您于任何修改或变更本协议条款后继续使用微众银行服务，则视为您已阅读、了解并同意接受修改或变更，若您不同意，则请您主动立即停用微众银行服务。</h3></p>
					<p>（三）如您所属的国家或地区排除本协议的全部或部分内容，请您立即停止使用微众银行服务，否则，若您继续使用微众银行服务，由此引起的法律风险或法律责任均由您自行承担。 </p>
					<p><h3>（四）您同意并授权微众银行在提供服务前和服务期间向有权机关或组织查询或核实您的相应信息，如您的信用情况及外汇购买额度等。</h3></p>
					<h3>二、关于微众银行服务 </h3>
					<p>（一）您自愿使用微众银行服务，同意遵守国家有关金融法律法规、政策及微众银行的有关业务规章制度。 </p>
					<p><h3>（二）您在使用微众银行服务前，应根据《微众银行远程开办个人结算账户客户服务协议》（以下简称“账户服务协议”）的约定在微众银行开立个人结算账户（以下简称“银行账户”），相应账户的开立流程及账户功能请见账户服务协议。您使用微众银行服务将自动关联您在微众银行开立的上述账户。</h3></p>
					<p>（三）您在使用微众银行服务过程中，您应向微众银行提供您合法、真实、有效及完整的资料（包括但不限于身份证、户口本、护照等证明、联系方式、从事职业、通讯地址、QQ号码、微信账号、手机号码、邮箱等）。</p>
					<p><h3>微众银行有权依据其相关规则及自身独立判断，决定是否接受您成为微众银行的用户或提供微众银行服务的部分或全部功能。同时，您应维护并及时更新您的上述资料，确保其合法、真实、有效及完整。若您提供任何错误、虚假、失效、过期或不完整的资料，或者微众银行有合理的理由怀疑资料错误、虚假、失效、过期或不完整，微众银行有权拒绝您使用微众银行服务的部分或全部功能。</h3></p>
					<p>（四）如因您未及时更新您的上述资料导致微众银行服务无法正常提供或提供时发生任何错误，您不得将此作为取消交易或拒绝付款的理由，微众银行亦不承担任何责任。</p>
					<p>（五）您使用微众银行服务时，微众银行将使用电子方式向您发出通知，上述电子方式包括但不限于微信、电子邮箱、手机号码、QQ号码、微众银行网站公布等方式。</p> 
					<p>（六）一般情况下，您可随时浏览自己提交的信息，但出于安全性和身份识别等方面的考虑，身份证件等敏感信息可能进行部分掩码隐藏，同时，您可能无法修改注册或激活时提供的某些信息。</p>
					<h3>三、关于微众银行服务的使用 </h3>
					<p>（一）微众银行服务说明 </p>
					<p> 1.一旦您使用微众银行服务，微众银行将根据您在客户端发出的指令进行相应操作。 </p>
					<p> 2.您在此确认，您按微众银行服务流程所确认的交易状态将成为微众银行为您提供服务的不可撤销的指令。您同意微众银行有权按相关指令依据本协议及相关规定对款项或交易等进行处理。 </p>
					<p>3.如您在使用微众银行服务时涉及第三方提供的产品或服务，微众银行对您与第三方可能出现的纠纷概不承担责任。如您未能及时对交易状态进行修改或确认或未能提交相关申请所引起的任何纠纷或损失由您本人负责。 </p>
					<p>4.您在使用微众银行服务时，应自行谨慎判断相关金融产品或服务的属性及风险，并自行决定是否进行交易，且您应自行承担与此相关的所有风险。  </p>
					<p>5.您认同交易过程中的资金流转需要一定的时间，您同意微众银行对此不承担责任。  </p>
					<p>6.您同意，微众银行无须对您使用微众银行服务期间由微众银行保管或代收代付的款项的货币贬值、汇率波动或投资亏损造成的损失承担任何责任，并且微众银行无须向您支付此等款项的任何孳息。 </p>
					<p>7.如您使用微众银行服务的，您应对自身所关联的银行账户拥有合法的使用权，如您因故对银行账户丧失使用权的，微众银行有权停止为您的上述银行账户继续提供微众银行服务。  </p>
					<p>8.您理解，微众银行有权不进行事先通知即按照公安、检察、法院、海关、税务及其他有权机关的要求对您在微众银行的资金及账户等进行查询、冻结或扣划。 </p>
					<p>9.如您是中华人民共和国以外用户，您需全面了解并遵守您所在司法辖区与使用微众银行服务所有相关法律、法规及规则。</p>
					<p>10.您了解，如您在使用微众银行服务过程中，由于您的银行账户被盗用或冒用造成您的资金损失，需由您本人承担，微众银行将为您向相关责任第三方或赔付机构进行追偿提供必要协助。您与微众银行另有约定的除外。 </p>
					<p>11.您同意，为了向您提供更为专业、便捷的微众银行服务，您不可撤销地授权微众银行有权向您推送微众银行最新服务消息或通知，并基于微众银行服务开展的实际需要，在微众银行内部平台以及微众银行关联企业或因服务必要而开展合作或委托的合作伙伴共享您的用户信息，详见《隐私保护声明》。微众银行将依法自行并要求关联企业或合伙伙伴保守您的用户信息及商业秘密，不对外泄漏，但法律法规或监管机构另有规定的除外。  </p>
					<p>12.为更安全、有效地向您提供服务，根据法律法规的规定，或微众银行需识别您的身份，或微众银行认为您的账户存在风险时，微众银行有权要求您提交身份信息，包括身份证、户口本、护照等证件或其他能识别证明您身份的合法文件。 </p>
					<p>（二）一般服务条款 </p>
					<p>1.您在进行微众银行客户端后，可按照微众银行的业务管理规则及要求使用微众银行服务，购买货币基金、理财产品等（具体服务和功能以微众银行实际提供的为准）。 </p>
					<p>2.您可以使用微众银行服务进行相关交易，微众银行将会妥善保管您的资金。 </p>
					<p>3.交易异常处理： </p>
					<p>1）您了解并同意于使用微众银行服务时，可能由于银行本身系统问题、相关作业网络连线问题或其他不可抗拒因素，将可能造成服务无法正常提供。 </p>
					<p>2）您确认您所输入的个人基本资料无误，以便微众银行能于上述异常状况发生时，通知您该笔交易后续处理方式。若您所提供的基本资料有误，造成微众银行于上述异常状况发生时，无法及时通知您后续处理方式，微众银行对此将不承担任何责任。 
					</p>
					<p>4.服务功能调整：您同意微众银行为保证自主业务经营权可以暂时提供部分服务功能，或于将来暂停部分服务功能或开通新的服务功能，当任何功能减少或者增加或者变化时，只要您仍然使用微众银行服务，即表示您同意本协议或者本协议修正后的条款。您同意微众银行在单方通知您后，将本协议下部分或全部服务转交由第三方运营或履行。具体受让主体以微众银行通知的为准。 </p>        
					<p>（三）服务费用：  </p>
					<p>在您使用微众银行服务时，微众银行有权向您收取相关服务费用。各项服务费用详见微众银行客户服务渠道（包括但不限于电子渠道）上所列的收费方式说明或微众银行与您签署的纸质或电子协议。微众银行保留调整服务费的权利。   您同意，除非双方另有说明，微众银行有权自您交易款中直接扣除相关服务费用。 </p> 
					<h3>四、暂停、中止、终止或拒绝微众银行服务</h3>
					<p>（一）您同意，发生下列情形之一的，微众银行有权不进行事先通知即可暂停、中止、终止或拒绝向您提供微众银行服务： </p>
					<p>1.您提供的个人资料不真实，且未能提供合理说明及证明； </p>
					<p>2.微众银行基于自身独立判断或第三方举报或投诉，认为您已违反相关法律、法规、规章及政府规范性文件；</p>
					<p>3.微众银行基于自身独立判断或第三方举报或投诉，认为您已违反本协议约定或账户服务协议或微众银行服务中的相关产品协议； </p>
					<p>4.您未按照本协议第三条第（三）款的约定足额付费； </p>
					<p>5.中国人民银行、公安、法院等有权机关向微众银行发出要求；</p>
					<p>6.您使用微众银行服务所关联的微众银行账户被注销、冻结、余额不足或出现交易异常等；</p>
					<p>7.微众银行认为存在安全隐患的其他情形。 </p>
					<p>  如微众银行按照上述规定采取相关措施，则微众银行有权通过电话、QQ或邮件等您注册或激活银行账户时预留的联系方式通知您，但微众银行不保证您能够收到或者及时收到上述通知。  </p>
					<p>（二）您理解并同意，微众银行有权自主决定经营策略。在符合法律法规的前提下，在微众银行发生合并、分立、收购、资产转让等经营变更情形时，微众银行有权自主向第三方转让本服务及其相关资产；微众银行也可在单方通知您后，将本协议下部分或全部服务转交由第三方运营或履行。具体受让主体以微众银行通知的为准。 </p>
					<h3>五、账户及其密码和安全性 </h3>
					<p>您了解并同意 ,您通过在微众银行开立的银行账户使用微众银行服务，应确保上述账户及其密码的安全。您将对利用上述账户及其密码所进行的一切行为负完全责任，并同意以下事项： </p>
					<p>（一）您应严格按照账户服务协议使用银行账户，妥善保密您的账户交易密码、动态密码、个人有效身份证件、绑定账户、绑定手机号码及手机设备等，不得私下买卖、出租、转让或赠予您的账户，不对其他任何人泄露您的账户、密码等身份信息，亦不得使用其他任何人的账户、密码等身份信息。所有通过您的账户和密码进行的任何操作、发出的任何指令均视为您本人做出。。 </p>
					<p>（二）您同意如发现有第三人冒用或盗用您的银行账户、密码和安全证书或其他任何未经您合法授权使用的情形，应立即以有效方式通知微众银行，并按照微众银行规定的挂失流程办理挂失手续。微众银行在接受您的有效通知和正式挂失手续生效前，对第三人以您的银行账户使用微众银行服务已发生的效力，除非可证明微众银行存在故意或重大过失，否则微众银行将不承担任何责任。 </p>
					<p>（三）当您的微众银行服务使用完毕后，您应安全退出。如因您未按照本协议的约定使用微众银行服务而导致的相关损失，由您自行承担。 </p>
					<p>（四）因您泄露或丢失账户交易密码、动态密码、验证码等身份认证信息或手机、电脑或其他终端设备等，或非因微众银行引起的其他原因（包括但不限于您点击钓鱼链接，您使用的手机、电脑或其他终端设备、软件、系统、硬件和通信线路出现故障或被他人侵入等情况）导致的损失均由您自行承担。 </p>
					<h3>六、用户的守法义务及承诺 </h3>
					<p>（一）您承诺绝不为任何非法目的或以任何非法方式使用微众银行服务，并承诺遵守中华人民共和国相关法律、法规及一切使用互联网及支付服务的惯例。您若是中华人民共和国以外的用户，您还需同时遵守您所属国家或地域的法律。 （二）您同意并保证不得利用微众银行服务从事下列任何行为，否则，您应自行承担所有法律责任：</p>
					<p>   1.反对宪法所确定的基本原则，危害国家安全、泄漏国家秘密、颠覆国家政权、破坏国家统一的；</p>
					<p>   2.侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权、其他知识产权及其他合法权益； </p>
					<p>  3.违反依法律或本协议所应负的保密义务； </p>
					<p>  4.冒用他人名义使用微众银行服务； </p>
					<p>  5.从事任何不法交易行为，如贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品或其他违禁物；</p>
					<p>   6.提供赌博资讯或以任何方式引诱他人参与赌博； </p>
					<p>  7.涉嫌洗钱、恐怖融资、套现、发布恐怖信息或进行传销活动的； </p>
					<p>  8.使用无效银行账户或他人银行账户交易； </p>
					<p>  9.进行与您或交易对方宣称的内容不符的交易或不真实的交易； </p>
					<p>  10. 从事任何可能侵害微众银行服务系統的行为； </p>
					<p>  11. 其他违法行为或微众银行有正当理由认为不适当的行为。 </p>
					<h3>七、不可抗力 </h3>
					<p> 因下列状况之一使您无法使用微众银行服务时，微众银行不承担任何责任： </p>
					<p>（一）银行系统停机维护或升级； </p>
					<p>（二）银行或电信设备出现故障不能进行数据传输的； </p>
					<p>（三）因台风、地震、海啸、洪水、停电、战争或恐怖袭击等不可抗力因素，病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵或政府行为等原因，造成微众银行系统不能提供服务的； </p>
					<p>（四）发生其他微众银行无法控制或无法预见的情形。 </p>
					<h3>八、责任范围及责任限制 </h3>
					<p>（一）微众银行仅对本协议中所列明的义务承担责任。 </p>
					<p>（二）您与任何第三方交易所产生的交易风险应由您自行承担。 </p>
					<p>（三）微众银行对您提供信息的合法性、真实性、准确性和完整性不承担任何责任。 </p>
					<p>（四）微众银行不提供以下保证： </p>
					<p>  1.微众银行服务将符合您的全部需求。 </p>
					<p>  2.您经由微众银行服务购买或取得的任何产品、服务、资讯或其他资料将符合您的期望。 </p>
					<p>（五）微众银行的合作单位所提供的服务品质及内容由该合作单位自行负责。 </p>
					<h3>九、隐私权保护    </h3>
					<p>微众银行重视对用户隐私的保护，关于您的用户资料和其他特定资料依微众银行《微众银行隐私政策》（链接地址：<a ng-click="onclickAgreement()">https://www.webankcdn.net/s/hj/privacypolicy.shtml</a>）受到保护与规范，详情请参阅微众银行《微众银行隐私政策》。 </p>
					<h3>十、微众银行服务软件形式 </h3>
					<p>若微众银行依托软件向您提供微众银行服务，您还应遵守以下约定： </p>
					<p>（一）微众银行可能为手机端、移动设备端以及其他终端设备开发不同的软件版本，包括可能在手机端基于手机QQ、微信及微众银行现在或将来可能开发的软件上提供微众银行服务；为正常使用微众银行服务，您应当根据实际需要选择并下载合适的软件版本。</p>
					<p>（二）如果您从未经合法授权的第三方获取本软件或与本软件名称相同的安装程序，微众银行将无法保证该软件能正常使用。</p> 
					<p>（三）为了提升用户体验、完善服务内容，微众银行可能将不时提供软件更新服务(该更新可能会采取软件替换、修改、功能强化、版本升级等形式)。为了改善用户体验，保证服务的安全性和功能的一致性，微众银行有权随时对软件进行更新或者对软件的部分功能效果进行改变或限制。 </p>
					<p>（四）软件新版本发布后，旧版软件可能无法使用。微众银行不保证旧版软件继续可用及相应的客户服务，请您随时核对并下载最新版本。 </p>
					<p>（五）除非法律允许或微众银行书面许可，您不得从事下列行为： </p>
					<p> 1.删除软件及其副本上关于著作权的信息； </p>
					<p> 2.对软件进行反向工程、反向汇编、反向编译或者以其他方式尝试发现软件的源代码； </p>
					<p> 3.对微众银行拥有知识产权或获得授权的内容进行使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版、建立镜像站点等； </p>
					<p> 4.对软件或者软件运行过程中释放到任何终端内存中的数据、软件运行过程中客户端与服务器端的交互数据，以及软件运行所必需的系统数据，进行复制、修改、增加、删除、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非经合法授权的第三方工具/服务接入软件和相关系统； </p>
					<p> 5.修改或伪造软件运行中的指令、数据，增加、删减、变动软件的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论上述行为是否为商业目的； </p>
					<p> 6.通过非微众银行开发、授权的第三方软件、插件、外挂、系统使用微众银行服务，或制作、发布、传播非微众银行开发、授权的第三方软件、插件、外挂、系统； </p>
					<p> 7.其他未经微众银行明示授权的行为。 </p>
					<h3>十一、知识产权的保护</h3>
					<p> （一）微众银行电子渠道上所有内容以及使用微众银行服务过程中的在线内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由微众银行或其他权利人依法拥有其知识产权，包括商标权、专利权、著作权和商业秘密等。</p>
					<p> （二）您在使用微众银行服务的过程中可能需要下载微众银行拥有原始权利或获得授权的微众银行提供的软件，对于这些软件，微众银行授予您一项不可转让、非独占及非排他性的使用许可。您仅可为访问微众银行电子渠道或使用微众银行服务的目的而使用这些软件。除另有特别声明外，微众银行提供微众银行服务时所依托软件的著作权、专利权及其他知识产权均归微众银行或其他原始权利人所有。 </p>
					<p>（三）非经微众银行或其他权利人书面同意，任何人不得擅自使用、修改、反向编译、复制、公开传播、改变、散布、发行或公开发表上述内容及软件。 </p>
					<p>（四）尊重知识产权是您应尽的义务，如有违反，您应对微众银行或其他权利人承担损害赔偿责任。 </p>
					<h3>十二、【第三方软件或技术】</h3>
					<p>（一）本软件可能会使用第三方软件或技术（包括本软件可能使用的开源代码和公共领域代码等，下同），这种使用已经获得合法授权。</p>
					<p>（二）本软件如果使用了第三方的软件或技术，腾讯将按照相关法规或约定，对相关的协议或其他文件，可能通过本协议附件、在本软件安装包特定文件夹中打包等形式进行展示，它们可能会以“软件使用许可协议”、“授权协议”、“开源代码许可证”或其他形式来表达。前述通过各种形式展现的相关协议或其他文件，均是本协议不可分割的组成部分，与本协议具有同等的法律效力，您应当遵守这些要求。如果您没有遵守这些要求，该第三方或者国家机关可能会对您提起诉讼、罚款或采取其他制裁措施，并要求腾讯给予协助，您应当自行承担法律责任。 </p>
					<h3>十三、协议的生效及完整协议</h3>
					<p>（一）本议自您点击同意或确认时生效。</p>
					<p>（二）本协议由本协议条款与微众银行客户端现在及将来公示的关于微众银行服务的变更条款、单项协议或规则、操作时的提示（包括通过客户端软件）组成，相关名词可互相引用参考。如本协议条款与上述各变更条款、单项协议或规则、操作提示等另行约定的内容相冲突或不一致，则应以各变更条款、单项协议或规则、操作提示等另行约定的内容为准。 </p>
					<p>（三）本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对您和微众银行均具有约束力。 </p>
					<p>（四）本协议的任何译文版本仅为方便用户而提供，无意对本协议的条款进行修改。如果本协议的中文版本与非中文版本之间存在冲突，应以中文版本为准。 </p>
					<p>十四、法律适用及争端解决 </p>
					<p>（一）本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法规则）。 （二）本协议签订地为中华人民共和国广东省深圳市南山区。 </p>
					<p>（三）若您和微众银行发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交本协议签订地（即中国广东省深圳市南山区）有管辖权的人民法院管辖。 </p>
					<p>十四、交易风险提示 </p>
					<p>（一）您承诺在进行网上交易之前，对网上交易有了一定的了解，并充分知悉网上交易过程中可能蕴含的风险。 </p>
					<p>（二）您了解，您与交易对手或其他任何第三方之间因网上交易可能发生的包括但不限于产品或服务质量等纠纷及损失应由您独立担责，微众银行对于您在使用微众银行服务时进行的交易均不提供任何担保，也不保证任何收益。</p>
					<p>（三）您对微众银行所提示的风险和列示措施、说明完全理解和同意，自愿承担交易风险以及交易过程中可能产生的损失。 </p>
					<p>（四）您了解并承诺，您不得使用微众银行提供的服务进行任何形式的洗钱、虚假交易、资金非法套现及其它违法犯罪行为。若微众银行发现您有上述违法违规行为的，微众银行有权立即暂停、中止或终止相关交易，并向公安部门报案，并将相关信息报送有关部门及银行业或支付服务行业内部风险信息系统。 </p>
					<h3>十四、法律适用及争端解决 </h3>
					<p>（一）本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法规则）。</p>
					<p>（二）本协议签订地为中华人民共和国广东省深圳市南山区。 </p>
					<p>（三）若您和微众银行发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交本协议签订地（即中国广东省深圳市南山区）有管辖权的人民法院管辖。</p>
					<h3>十五、交易风险提示</h3>
					<p>（一）您承诺在进行网上交易之前，对网上交易有了一定的了解，并充分知悉网上交易过程中可能蕴含的风险。</p>
					<p>（二）您了解，您与交易对手或其他任何第三方之间因网上交易可能发生的包括但不限于产品或服务质量等纠纷及损失应由您独立担责，微众银行对于您在使用微众银行服务时进行的交易均不提供任何担保，也不保证任何收益。</p>
					<p>（三）您对微众银行所提示的风险和列示措施、说明完全理解和同意，自愿承担交易风险以及交易过程中可能产生的损失。</p>
					<p>（四）您了解并承诺，您不得使用微众银行提供的服务进行任何形式的洗钱、虚假交易、资金非法套现及其它违法犯罪行为。若微众银行发现您有上述违法违规行为的，微众银行有权立即暂停、中止或终止相关交易，并向公安部门报案，并将相关信息报送有关部门及银行业或支付服务行业内部风险信息系统。</p>
					<h3>十六、其他 </h3>
					<p>如果您对本协议或本微众银行服务有意见或建议，可与微众银行客户服务部门联系（联系电话：4009-998877），我们会给予您必要的帮助。</p>
					<p style="text-align: right;">深圳前海微众银行股份有限公司</p>


				</div>
			</div>
		</div>
		<!--众当家隐私政策-->
		<div class="agreement_wrap" ng-if="showAgreement(4)">
			<div class="agr_content">
				<div class="agr_title">
					<h2>微众银行隐私政策</h2>
				</div>
				<div class="agr_con_area">
					<p>重要提示： </p>
					<p>深圳前海微众银行股份有限公司（以下可简称“微众银行”或“我们”）重视保护用户（以下可简称“您”）的隐私。微众银行依据《微众银行隐私政策》（以下可简称“本政策”）的约定为用户提供微众银行服务，本政策在用户和微众银行间具有合同上的法律效力。 </p>
					<p>微众银行在此特别提醒用户认真阅读、充分理解本政策各条款，特别是其中所涉及的免除、限制微众银行责任的条款、对用户权利限制条款、管辖与法律适用条款等。为了特别提示您限制、免责条款以及涉及到您的权益的等内容，这些条款可能以字体加粗形式提示您注意。 </p>
					<p>请用户审慎阅读并选择接受或不接受本政策（未成年人应在监护人陪同下阅读）。当您接受《微众银行隐私政策》后，或您使用微众银行服务时，即表示您已同意我们按照本政策收集、储存、使用和分享您的信息。除非您已阅读并接受本政策所有条款，否则您无权使用微众银行服务。 </p>
					<h3>一、引言 </h3>
					<p>1.在您使用微众银行服务时，我们可能会收集、储存、使用和分享您的相关信息。我们通过本《隐私政策》向您说明，我们如何收集、储存、使用和分享这些信息，以及我们为您提供的访问、更新、控制和保护这些信息的方式。 2.基于国家相关法律法规的规定，以及为向您提供服务及提升服务质量、向您提供安全、顺畅、高效和个性化的体验的目的（包括支持我们开发新产品或完善已有产品功能），我们按照本政策收集、储存、使用和分享您的信息。 </p>
					<h3>二、我们可能如何收集信息</h3>
					<p> 1.我们可能会通过以下方式和途径收集您的信息： </p>
					<p>（1）当您使用微众银行服务时，我们会收集您通过计算机、手机或其他接入设备发送给我们的信息，我们也可能会从微众银行的关联公司或其他第三方获得您的信息。 </p>
					<p>（2）您将第三方管理的账户与您的微众银行账户相关联，并授权微众银行访问此类信息，表示您同意微众银行在遵守本政策的前提下，收集、存储、使用和分享此类信息。例如，我们可以根据您的授权收集您通过社交媒体网站或社交工具软件等途径提供的信息。我们通过此种途径收到的信息因具体提供的网站而异，并受提供信息的网站控制。 </p>
					<p>（3）我们还可能会以其他方式收集有关您的其他信息，例如，通过您与我们的客户服务团队联系收集您的信息、当您对调查做出答复时收集相关结果。 </p>
					<p>2.为了遵守国家相关法律法规的规定，以及为向您提供服务及提升服务质量、向您提供安全、顺畅、高效和个性化的体验的目的，我们收集的信息范围主要包括以下内容： </p>
					<p>（1）您在微众银行开户或使用微众银行服务时，向我们提供的您的QQ号码、微信号、手机号码或电子邮箱、真实姓名、证件号码、用户照片或是我们要求您提供的其他信息（包括但不限于银行卡号）。我们通过这些信息识别您的身份，以便遵守国家相关法律法规的规定，为您提供服务。 </p>
					<p>（2）您使用的微众银行服务需与您的银行账户等账户关联方能实现时，您需要向我们提供您的银行账户等账户信息。例如，您在微众银行开户户，将您的他行银行卡与微众银行账户绑定时，您需向我们提供您的银行卡信息。</p>
					<p>（3）您使用微众银行服务过程中所产生的交易信息，包括但不限于交易双方名称、交易金额、交易时间、交易双方的开户银行名称、银行账户号码等相关信息。您可以通过我们查询您的交易状态或历史交易记录。 </p>
					<p>（4）我们可能会收集您使用微众银行服务的相关操作信息，包括但不限于您的硬件设备型号、您所使用的软件版本信息、您的IP地址、您所在的位置、移动网络信息、标准网络日志数据和其他信息，以尽最大努力保护您的账户安全。 </p>
					<h3>三、关于Cookies和其他浏览器技术 </h3>
					<p>1.当您使用微众银行服务的时候，我们可能会保存您的用户登录状态并且为您分配一个或多个“Cookie”（一个很小的文本文件），例如：当用户访问一个需要用户登录才可以提供的信息或服务，当用户登录时，我们会把该用户的登录名和密码加密存储在用户计算机的Cookie文件中，由于是不可逆转的加密存储，其他人即使可以使用该用户的计算机，也无法识别出用户的用户名和密码。用户并不需要额外做任何工作，所有的收集、保存和加密工作都由系统自动完成。 </p>
					<p>2.Cookie文件将保存在您的计算机硬盘或设备终端的闪存上，它只能被设置它们的服务器阅读，而且不能执行任何代码或病毒。您可以随时使用浏览器或操作系统软件将其删除。 </p>
					<p>3.为了向您提供更为方便、快捷、顺畅、个性化的服务，我们通过Cookie等技术为您提供以下服务： </p>
					<p>（1）记住您的账户和密码。例如，cookie可能帮助您省去为使用微众银行服务而重复输入账户和密码。 </p>
					<p>（2）分析您使用微众银行服务的情况。例如，我们可通过cookie、web beacon等技术来了解您使用微众银行服务的具体用途，或哪些网页或服务最受您的欢迎。 </p>
					<p>（3）广告优化。微众银行可能会根据您访问相关网站的统计信息为您显示您可能感兴趣的产品或广告信息。这些统计信息并不包括您的任何个人信息，这些信息可能被用来评估广告的有效度。Cookie、web beacon等技术有助于我们根据您的信息，向您提供与您相关的广告而非进行普遍的广告投放。 </p>
					<p>（4）微众银行也可能通过web beacon技术来统计匿名访问的数据，同样，这些统计信息并不包括您的个人信息。 </p>
					<p>4.您也可以选择“不使用Cookie”或“在使用Cookie时事先通知我”的选项禁止Cookie的产生，但是可能会影响您对某些微众银行服务的使用，或是您无法享受到更加安全、快捷、顺畅、个性化的服务。 </p>
					<h3>四、Cookie和web beacon技术也可能会由微众银行的第三方广告合作伙伴使用。</h3>
					<p>这些第三方通过cookie和web beacon收集和使用该等信息的行为，不受本《隐私政策》约束，而是受该第三方的隐私政策约束，我们不对第三方的cookie或web beacon承担责任。</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>