<ion-view>
    <div class="fc">
        <ion-header-bar>
            <div class="menu-ba">
                <header class="menu"><span class="menu-return" ng-click="back()"></span>人脸验证</header>
            </div>
        </ion-header-bar>

        <ion-content class="has-header" has-bouncing="false">
            <p class="h1">验证时，请将镜头<br>对准您的脸，然后跟读数字</p>
            <div class="pic-r-wrap"><img src="../img/face-a.jpg" alt=""></div>
            <ul class="pic-f-wrap flex">
                <li class="item">
                    <span class="img-wrap"><img src="../img/face-b.jpg" alt=""></span>
                    <p>不要遮挡眼睛</p>
                </li>
                <li class="item">
                    <span class="img-wrap"><img src="../img/face-c.jpg" alt=""></span>
                    <p>不要戴帽</p>
                </li>
                <li class="item">
                    <span class="img-wrap"><img src="../img/face-d.jpg" alt=""></span>
                    <p>不要光线太暗</p>
                </li>
            </ul>

            <div class="btn-wrap pd20">
                <button class="btn-c" ng-click="check_face()">知道了，下一步</button>
            </div>
        </ion-content>

        <div pop-confirm out-value="outValue"></div>
    </div>
</ion-view>
