<ion-view style="box-shadow:none;">
    <ion-content has-bouncing="false" scroll="false">
        <div class="hpw">

        <div class="hpw-con" ng-if="data.showCheckModeClass">
            <img ng-src="{{data.headImg}}" alt="" class="avatar-box">

            <p class="name">{{data.nickName}}</p>

            <p ng-class="data.checkMsgClass">{{data.checkMsgContent}}</p>
        </div>

        <div class="hpw-con" ng-if="data.showSettingModeClass">
            <div password-status-canvas handpassword-canvas-data="IDCanvasData"></div>
            <!-- class加w变橙色 -->
            <p ng-class="data.settingMsgClass">{{data.settingMsgContent}}</p>
        </div>

        <div handpassword-canvas handpassword-canvas-data="IDCanvasData"></div>

        <div ng-class="data.resetPassClass">
            <div class="item" id="updatePassword" ng-click="onClickResetHandPass()">忘记手势密码?</div>
            <div class="item" ng-click="onClickRelogin()">用其他帐号登录</div>
        </div>
        <p ng-class="data.resetClass" ng-click="onClickResetToStep1()">重新绘制</p>
        </div>
    </ion-content>

    <div pwd-input
         ng-model="vm.formData.confirmPassword"
         is-pwd-show="data.isPwdShow"
         sig-on-pwd-commit="data.sigOnPwdCommit"
         pwd-sub-title="data.pwdSubTitle"
            >
    </div>

    <div pop-confirm out-value="data.outValue"></div>

    <loading show-loading="data.showLoading"></loading>
</ion-view>