<ion-view>
    <div class="set rg">
        <ion-header-bar>
            <div class="menu-ba">
                <header class="menu"><span class="menu-return" ng-click="back()"></span>{{showTitle()}}</header>
            </div>
        </ion-header-bar>

        <ion-content class="has-header">
            <!--step1-->
            <section class="wrap-a" ng-if="showStep(1)" style="margin-top:20px;">
                <div class="register-input-wrap">
                    <div class="input-box">
                        <span class="info">姓&#12288;名</span>
                        <div class="zsy"><input type="text" name="fName" class="w-input" ng-model="data.regName" ng-change="changeName()" maxlength="32"></div>
                    </div>
                    <p class="cy-tip" ng-if="inputNameTipsContent" ng-bind="inputNameTipsContent"></p>
                    <div class="input-box">
                        <span class="info">身份证</span>
                        <div class="zsy"><input type="text" name="fIDnum" class="w-input" ng-model="data.regIDCard"  ng-change="changeIDCard()" maxlength="18"></div>
                    </div>
                    <p class="cy-tip" ng-if="inputIDCardTipsContent" ng-bind="inputIDCardTipsContent"></p>
                </div>
            </section>


            <!--step2-->
            <section class="wrap-a" ng-if="showStep(2)" style="margin-top:20px;">
                <div class="register-input-wrap">
                    <div class="input-box" style="font-size:12px;">
                        验证码已发往绑定手机<em ng-bind="phoneNumber | formatPhoneMask"></em>，请注意查收
                    </div>

                    <div class="input-box register-yz">
                        <span class="info">验证码</span>
                        <div class="zsy"><input type="text" pattern="[0-9]*" name="sNum" class="w-input" ng-model="data.regPhoneCheckNumber" ng-change="changeOtp()" maxlength="6"></div>
                        <button ng-class="classOtpBtn()" ng-if="checkTimeoutButton" ng-click="onGetOTP()">获取验证码</button>
                        <span class="ts" ng-if="!checkTimeoutButton">重新获取({{checkNumTimeout}})</span>
                    </div>
                    <p class="cy-tip" ng-if="inputOtpTipsContent" ng-if="inputOtpTipsContent"></p>
                </div>
            </section>


            <div class="btn-wrap mg20">
                <button ng-class="classNextBtn()" ng-if="showNextBtn()"  ng-click="onClickNext()">下一步</button>
            </div>


            <!-- 设置交易密码 -->
            <div class="code-box" ng-if="showStep(3)">
                <p class="wd">请输入新的交易密码</p>
                <ol class="code"><li ng-repeat="str in pwdDisplay track by $index">{{str}}</li></ol>
            </div>

            <!--请再次设置交易密码-->
            <div class="code-box" ng-if="showStep(4)">
                <p class="wd">请再次输入</p>
                <ol class="code"><li ng-repeat="str in pwdDisplay track by $index">{{str}}</li></ol>
            </div>
        </ion-content>

    </div>
    <div pwd-input
         ng-model="vm.formData.confirmPassword"
         is-pwd-keyboard-show="isPwdKeyboardShow"
         sig-on-pwd-commit="sigOnPwdCommit"
         pwd-display= 'pwdDisplay'
            >
    </div>

    <div pop-confirm out-value="outValue"></div>
</ion-view>