<html>
<head>
    <meta charset="UTF-8">
    <title>设置--账户信息</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <style>
        .set .set-list li.f::after{background: none;}
    </style>
</head>
<body>
<div class="set">
<div class="menu-ba">
    <header class="menu"><span class="menu-return" ng-click="back()"></span>账户管理</header>
</div>

    <ul class="set-list mgt20">
        <!--li ng-click="onClickBindAccount()" ng-hide="isInReview || !platInfo.plat"><span class="a" ng-bind="::platInfo.plat">QQ帐号</span><span class="b" ng-bind="::platInfo.name"></span></li-->
        <li ng-click="onClickBindAccount('qq')" ng-if="!isInReview">
            <span class="a" >QQ号</span><span class="b" ng-bind="::weixinQQ.qq.str"></span>
        </li>
        <li ng-click="onClickBindAccount('weixin')" >
            <span class="a" >微信号</span><span class="b" ng-bind="::weixinQQ.weixin.str"></span>
        </li>
        <!--li><span class="a">微信帐号</span><span class="b">未绑定</span></li-->
        <li ng-click="onClickPhone()">
            <span class="a">手机号</span><span class="b">{{bindPhoneNumber | formatPhoneMask}}</span>
        </li>
    </ul>

    <ul class="set-list mgt20">
        <li ng-click="onClickPasswdMngBtn()"><span class="a">修改交易密码</span></li>
        <!--li><span class="a">手势密码</span></li-->
    </ul>

    <ul class="set-list mg20">

        <!--<li ng-click="onClickCheckFace()"><span class="a">身份验证</span><span class="b">未验证(等tiking)</span></li>-->
        <li ng-click="onClickRiskAssessmentBtn()"><span class="a">风险评估</span><span class="b" ng-bind="accessStr"></span></li>
    </ul>
</div>
<div pwd-input
     ng-model="vm.formData.confirmPassword"
     is-pwd-show="isPwdShow"
     sig-on-pwd-commit="sigOnPwdCommit"
     pwd-sub-title="pwdSubTitle"
     >
</div>
<div pop-confirm out-value="outValue"></div>
</body>
</html>
