<ion-view>
    <div class="set">
        <ion-header-bar>
            <div class="menu-ba">
                <header class="menu"><span class="menu-return" ng-click="back()"></span>密码管理</header>
            </div>
        </ion-header-bar>


        <ion-content class="has-header">
            <ul class="set-list mgt20">
                <li ng-click="onClickPasswdMngBtn()"><span class="a">修改交易密码</span></li>
                <li ng-click="onClickPasswdResetBtn()"><span class="a">重置交易密码</span></li>
            </ul>
            <ul class="set-list mgt20">

                <li ng-click="onClickHandPasswdResetBtn()"><span class="a">修改手势密码</span></li>
                <!--li><span class="a">手势密码</span></li-->
            </ul>
        </ion-content>

    </div>
    <div pwd-input
         ng-model="vm.formData.confirmPassword"
         is-pwd-show="isPwdShow"
         sig-on-pwd-commit="sigOnPwdCommit"
         pwd-sub-title="pwdSubTitle"
         >
    </div>
    <div pop-confirm out-value="outValue"></div>
</ion-view>
