<ion-view>
    <div class="set rg">
        <ion-header-bar>
            <div class="menu-ba">
                <header class="menu"><span class="menu-return" ng-click="back()"></span>{{showTitle()}}</header>
            </div>
        </ion-header-bar>

        <ion-content class="has-header">
            <!--手机号码-->
            <div ng-if="showStep(1)">
                <div class="wrap px-b" style="margin-top:20px;">
                    <ul class="yz-list">
                        <li style="font-size:12px;">验证码已发往绑定手机<em ng-bind="phoneNumber | formatPhoneMask"></em>，请注意查收</li>
                        <li class="yzm">
                            <span>验证码</span>
                            <input type="text" number-keyboard-input pattern="[0-9]*" out-value="data.otp" ng-model="data.placeOtp">
                        <button class={{otpButtonController}}  ng-if="otpTimeOutShow" ng-click="onGetOTP()">获取验证码</button><span class="y-c" ng-if="!otpTimeOutShow">重新获取({{checkNumTimeout}})</span>
                        </li>
                    </ul>
                </div>
                <div class="btn-wrap mg20"><button class='btn-c' ng-click="onClickNext()">下一步</button></div>
            </div>

            <!-- 设置交易密码 -->
            <div class="code-box" ng-if="showStep(2)">
                <p class="wd">请输入新的交易密码</p>
                <ol class="code"><li ng-repeat="str in pwdDisplay track by $index">{{str}}</li></ol>
            </div>

            <!--请再次设置交易密码-->
            <div class="code-box" ng-if="showStep(3)">
                <p class="wd">请再次输入</p>
                <ol class="code"><li ng-repeat="str in pwdDisplay track by $index">{{str}}</li></ol>
            </div>
        </ion-content>
        <div pwd-input
             ng-model="vm.formData.confirmPassword"
             is-pwd-keyboard-show="isPwdKeyboardShow"
             sig-on-pwd-commit="sigOnPwdCommit"
             pwd-display= 'pwdDisplay'
                >
        </div>

        <div pop-confirm out-value="outValue"></div>
    </div>
</ion-view>