<html>
<head>
    <meta charset="UTF-8">
    <title>微众卡</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../zdj.css">
</head>
<body>
    <div class="set">
        <div class="menu-ba">
            <header class="menu"><span class="menu-return" ng-click="back()"></span>微众卡</header>
        </div>

        <div class="wb-card-new">
            <div class="wb-card-wrap" ng-if="isOpenAccount">
                <div class="inner">
                    <p class="g-a">微众银行 储蓄卡</p>
                    <div class="g-b">
                        <span class="l">6214 8246 5230 9780 011</span>
                        <span class="r">复制</span>
                    </div>
                    <p class="g-c"><i>150,023.00</i> 元</p>
                </div>
            </div>
            <div class="g-d">
                <span class="l">您有<i>20,000.00</i>元的工资不可使用</span>
                <span class="r">人脸验证解冻</span>
            </div>
        </div>

        <!-- 收起加off -->
        <div class="bx">
            <div class="xq-con nb mgt20 px ">
                <div class="t px-a" style="font-size:14px;">如何单次大额转入活期+或购买理财产品？</div>
                <div class="t-con">
                    <p style="font-size:12px;color:#b1b9ce;line-height:20px;">您可以用持有的他行银行卡通过柜台、网上银行、第三方支付平台等渠道进行跨行转账。<br>转账时请正确填写转账金额、您本人的姓名和微众银行卡号。<br>部分渠道在跨行汇款时可能需要您填写帐户所属银行，若在供选择的银行列表中找不到微众银行，您可以选择城市商业银行。</p>
                </div>
            </div>
        </div>
 
        <div class="ph"></div>
    </div>

</body>