<ion-view>
    <div class="lc">
        <ion-header-bar>
            <div class="menu-ba">
                <header class="menu"><span class="menu-return" ng-click="back()"></span>转出</header>
            </div>
        </ion-header-bar>
        <ion-content>
            <p class="cy-wd"></p>
            <div class="cy-wrap">转出金额<div class="po"><input type="number"
                                                            placeholder="最多可转出{{maxAmount}}元"
                                                            class="it"
                                                            ng-change="onInputAmountChanged()"
                                                            ng-model="data.transAmount"></div>
                <span class="all" ng-click="onClickRedeemAll()">全部转出</span>
            </div>
            <div style="height:28px;">
                <p class="cy-tip" ng-if="showTip">{{tipContent}}</p>
            </div>
            <div class="cy-wrap-a" ng-click="func.onSelectPayWay()">
                <span class="t-l">付款账户</span>
                <div class="t-m" ng-if="webankAccount.isWebankAccountSelected">
                    <img class="hq_ib" src="../img/bankHead/yh-0@2x.png">微众卡
                </div>
                <p class="t-m" ng-if="!webankAccount.isWebankAccountSelected">{{cardInfo.bankName }} {{cardInfo.cardType + ' '}}{{cardInfo.cardNo | abridgeAccountNumber}}</p>
                <i class="k"></i>
            </div>
        </ion-content>

        <div class="buy-btn-wrap" ng-click="onClickRedeem()">
            <div class="lc-buy-btn">实时转出</div>
        </div>
    </div>

    <pay-way-selector
            show-pay-way-selector="isPayWayShow"
            pay-way-title="payWayTitle"
            bind-card-list="bindCardList"
            card-info="cardInfo"
            sig-select-card="sigSelectCard"
            bind-new-card="bindNewCard"
            webank-account="webankAccount"
            callback-func = "payWayCallback"
            >
    </pay-way-selector>

    <div pwd-input
         ng-model="vm.formData.confirmPassword"
         is-pwd-show="isPwdShow"
         sig-on-pwd-commit="sigOnPwdCommit"
         pwd-sub-title="pwdSubTitle"
         pwd-trans-desc="pwdTransDesc"
         pay-way-desc="payWayDesc"
         on-click-change-pay-way="func.onSelectPayWay"
            >
    </div>

    <loading show-loading="showLoading"></loading>
    <div pop-confirm out-value="outValue"></div>
</ion-view>
