<ion-view>
    <div class="bx">
        <ion-header-bar>
            <div class="menu-ba">
                <!--<header class="menu"><span class="menu-return" ng-click="back()"></span>{{productInfo.onSaleDesc}}<span class="menu-tip share"></span></header>-->
                <header class="menu"><span class="menu-return" ng-click="back()"></span>历史万份收益</header>

            </div>
        </ion-header-bar>
        <ion-content  class="has-header">
            <div class="hs-wrap">
                <ul class="hs-list">
                    <li ng-repeat="item in incomeHistory"><!--
                    --><span class="l">{{item.date|formatYYYYMMDDString}}</span><span class="r">{{item.incomeTenThousand}}</span></li>
                </ul>
            </div>
        </ion-content>

    </div>
</ion-view>