<html>
<head>
    <meta charset="UTF-8">
    <title>组合理财</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
<div class="hybird">
    <div class="menu-ba">
        <header class="menu"><span class="menu-return" ng-click="back()"></span>组合理财</header>
    </div>

    <div class="ki">
        <p class="ik">你的投资理念？</p>
        <ul class="qs">
            <li ng-click="onClickLow()" class="a">
                <p class="i">慎重派</p>
                <p>保本安心赚零花</p>
            </li>
            <li ng-click="onClickNormal()" class="b">
                <p class="i">平衡派</p>
                <p>风险均衡顶呱呱</p>
            </li>
            <li ng-click="onClickHigh()" class="c">
                <p class="i">胆大派</p>
                <p>不怕风险起来嗨</p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
